* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.02em;
    text-decoration: none;
    list-style: none;
    color: #333;
}

.home_h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.home_full {
    width: 100vw;
    height: 180vh;
    background-color: #fcfcfc;
    position: relative;
}

.home_translate {
    position: fixed;
    top: 0px;
    right: 100px;
    background-color: #e6e6e6;
    z-index: 1000000;
}

.home_translate>a.on {
    background-color: #333;
    color: #e6e6e6;
}

header {
    width: 100vw;
    height: 80px;
    position: relative;
    z-index: 999;
}

.header_structure {
    width: 100vw;
    height: 80px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 5px solid #333;
    background-color: #fcfcfc;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

.Menu_button {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 17.5px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Menu_button.on {
    animation: Menu_button_on 0.6s ease 0s;
}

@keyframes Menu_button_on {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Menu_button.off {
    animation: Menu_button_off 0.6s ease 0s;
}

@keyframes Menu_button_off {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


.Menu_button>div {
    width: 35px;
    height: 7px;
    background-color: #333;
    border-radius: 3.5px;
}

.header_wrap {
    width: 100vw;
    height: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 5px solid #333;
    background-color: #fcfcfc;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all 0.6s ease 0s;
    overflow: hidden;
}

.header_wrap.on {
    height: 370px;
}

nav {
    position: absolute;
    top: 85px;
    right: 100px;
    width: 630px;
    height: 240px;
    overflow: hidden;
}

nav>ul {
    display: flex;
    justify-content: space-between;
}

nav>ul li {
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border: 5px solid #333;
    border-radius: 25px;
}

nav>ul>li {
    position: relative;
}

nav>ul>li:hover {
    background-color: #333;
    color: #fcfcfc;
}

nav>ul>li>ul {
    position: absolute;
    top: 45px;
    left: -5px;
}

nav>ul>li>ul>li {
    position: absolute;
    left: 0px;
}

nav>ul>li>ul>li:nth-child(1) {
    top: 0px;
}

nav>ul>li>ul>li:nth-child(2) {
    top: 50px;
}

nav>ul>li>ul>li:nth-child(3) {
    top: 100px;
}

nav>ul>li>ul>li:nth-child(4) {
    top: 150px;
}

nav>ul>li>ul>li:hover {
    background-color: #333;
}

nav>ul>li>ul>li:hover>a {
    color: #fcfcfc;
}

.home_img_slide_full {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #333;
    border-radius: 25px;
    overflow: hidden;
}

.home_img_slide_full_img_train {
    width: 2370px;
    height: 400px;
    display: flex;
    transition: all 0.6s ease 0s;
}

.home_img_slide_full_img {
    width: 790px;
    height: 390px;

}

.home_img_slide_full_img:nth-child(1) {
    background-color: blue;
}

.home_img_slide_full_img:nth-child(2) {
    background-color: rgb(64, 160, 104);
}

.home_img_slide_full_img:nth-child(3) {
    background-color: rgb(255, 0, 0);
}

.home_h2_1 {
    position: absolute;
    top: 720px;
    left: 50%;
    transform: translateX(-50%);
}

.home_main_intropa_tb {
    width: 400px;
    height: 300px;
    border-collapse: collapse;
    position: absolute;
    top: 780px;
    left: 50%;
    transform: translateX(-50%);
}

.home_main_intropa_tb>tbody>tr {
    height: 50px;
    position: relative;
}

.home_main_intropa_tb>tbody>tr>.home_main_intropa_tb_td1 {
    position: absolute;
    width: 115px;
    height: 50px;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #333;
    border-top: 5px solid #e6e6e6;
    border-left: 5px solid #e6e6e6;
    border-right: 5px solid #e6e6e6;
}

.home_main_intropa_tb>tbody>tr>.home_main_intropa_tb_td1>p {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #e6e6e6;
    transform: translateY(-50%);
    font-weight: 600;
}

.home_main_intropa_tb>tbody>tr>.home_main_intropa_tb_td2 {
    width: 285px;
    height: 50px;
    background-color: #e6e6e6;
    position: absolute;
    top: 0px;
    left: 115px;
    border-top: 5px solid #333;
    border-right: 5px solid #333;
}

.home_main_intropa_tb>tbody>tr>.home_main_intropa_tb_td2>p,
.home_main_intropa_tb>tbody>tr>.home_main_intropa_tb_td2>a {
    width: 270px;
    background-color: #e6e6e600;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.home_main_intropa_tb_tr1>td:first-child {
    border-top-left-radius: 15px;
}

.home_main_intropa_tb_tr1>td:last-child {
    border-top-right-radius: 15px;
}

.home_main_intropa_tb_tr6>td {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.home_main_intropa_tb_tr6>td>a {
    display: block;
    width: 400px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 5px solid #333;
    background-color: #e6e6e6;
    font-weight: 700;
}

.home_main_intropa_tb_tr6>td>a:hover {
    border: 5px solid #e6e6e6;
    background-color: #333;
    color: #e6e6e6;
}

.home_img_slide_full {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #333;
    border-radius: 25px;
    overflow: hidden;
}

.home_img_slide_full_img_train {
    width: 2370px;
    height: 400px;
    display: flex;
    transition: all 0.6s ease 0s;
}

.home_img_slide_full_img {
    width: 790px;
    height: 390px;

}

.home_img_slide_full_img:nth-child(1) {
    background-color: blue;
}

.home_img_slide_full_img:nth-child(2) {
    background-color: rgb(64, 160, 104);
}

.home_img_slide_full_img:nth-child(3) {
    background-color: rgb(255, 0, 0);
}

.home_h2_1 {
    position: absolute;
    top: 720px;
    left: 50%;
    transform: translateX(-50%);
}

.home_main_intropa_tb {
    width: 400px;
    height: 300px;
    border-collapse: collapse;
    position: absolute;
    top: 780px;
    left: 50%;
    transform: translateX(-50%);
}

.home_main_intropa_tb>tbody>tr {
    height: 50px;
    position: relative;
}

.home_main_intropa_tb>tbody>tr>.home_main_intropa_tb_td1 {
    position: absolute;
    width: 115px;
    height: 50px;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #333;
    border-top: 5px solid #e6e6e6;
    border-left: 5px solid #e6e6e6;
    border-right: 5px solid #e6e6e6;
}

.home_main_intropa_tb>tbody>tr>.home_main_intropa_tb_td1>p {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #e6e6e6;
    transform: translateY(-50%);
    font-weight: 600;
}

.home_main_intropa_tb>tbody>tr>.home_main_intropa_tb_td2 {
    width: 285px;
    height: 50px;
    background-color: #e6e6e6;
    position: absolute;
    top: 0px;
    left: 115px;
    border-top: 5px solid #333;
    border-right: 5px solid #333;
}

.home_main_intropa_tb>tbody>tr>.home_main_intropa_tb_td2>p,
.home_main_intropa_tb>tbody>tr>.home_main_intropa_tb_td2>a {
    width: 270px;
    background-color: #e6e6e600;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.home_main_intropa_tb_tr1>td:first-child {
    border-top-left-radius: 15px;
}

.home_main_intropa_tb_tr1>td:last-child {
    border-top-right-radius: 15px;
}

.home_main_intropa_tb_tr6>td {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.home_main_intropa_tb_tr6>td>a {
    display: block;
    width: 400px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 5px solid #333;
    background-color: #e6e6e6;
    font-weight: 700;
}

.home_main_intropa_tb_tr6>td>a:hover {
    border: 5px solid #e6e6e6;
    background-color: #333;
    color: #e6e6e6;
}
